<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock%}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/" title = "Home">Home</a> | 
        <a href="/about" title = "About">About</a> |
        <a href="/portfolio_tester/form" title = "Posts List">Portfolio Creator</a> |
        <a title = "My Portfolios" href="{% url 'portfolio_tester:my_portfolios' %}">My Porfolios</a> |


        {% if user.is_authenticated %}
            <form class="logout" action="{% url 'users:logout' %}" method = "post">
                {% csrf_token %}
                <button class="logout-button" title="User Logout">Logout</button> 
            </form>
        {% else %}
                <a href="{% url 'users:register' %}" title = "New User">Create Account</a> |
                <a href="{% url 'users:login' %}" title = "User Login">Login</a> 
        {% endif %}           
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>