{% extends 'layout.html' %}
{% load static %}


{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="creator_container">
<form method="post" id="portfolio_form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.investment_frequency.errors }}
        <p>Investment Frequency</p>
        {{ form.investment_frequency }}
    </div>

    <br>

    <div>
        {{ form.investment_amount.errors}}
        <p>Investment Amount (per day/month) </p>
        £{{ form.investment_amount}}
    </div>

    <br>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


       <div>
        {{ form.start_date.errors }}
        <p>Start Date</p>
        {{ form.start_date }}
        <span id="start-date-error" class="error-message"></span>
    </div>

    <div>
        {{ form.end_date.errors }}
        <p>End Date</p>
        {{ form.end_date }}
        <span id="end-date-error" class="error-message"></span>
    </div>

    <br>

    <fieldset>
        <legend>Index Weights (must add up to 1):</legend>
        <div id="weight-error" style="color: white; margin-bottom: 10px;"></div>

        <div>
            {{ form.FTSE_weight.errors }}
            <p>FTSE_weight</p>
            {{ form.FTSE_weight}}
        </div>

        <div>
            {{ form.SNP500_weight.errors}}
            <p>SNP500_weight</p>
            {{ form.SNP500_weight}}
        </div>

        <div>
            {{ form.NIKKEI225_weight.errors}}
            <p>NIKKEI225_weight</p>
            {{ form.NIKKEI225_weight}}
        </div>
    </fieldset>

    <br>

    <button type="submit">Submit Portfolio</button>
</form>
</div>
<script src="{% static 'js/tester_form.js' %}" ></script>

{% endblock %}
