{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>portfolio homepage</h1>
    <p>hello</p>

    {% for data in newdata %}
        <article >
            <h2>
                
            </h2>
            
        </article>
    {% endfor %}

    <h2>total value: {{ return_array.1 }}</h2>
    

</body>
</html>

{% endblock %}