{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block  content%}
    <p>Welcome to Guinea Pig Portfolio. Via the create portfolio tab, you can model the performance of a portfolio of 3 world indicies. (FTSE100, S&P500, NIKKEI 225)</p>
    <br>
    <p>You can simulate investing daily or monthly, with select weights for each index. The my portfolios tab will show your tested portfolios, if logged in you will only see your submissions, if not you will see all recent submissions from non logged in users.</p>
    <br>
    <p>This web app is a proof of concept and more functionality and options will be added progessively.</p>
{% endblock %}
    
