{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block  content%}
<div class = "about_container">    
    <section class="about_text">
    <p>Welcome to Guinea Pig Portfolio. Via the create portfolio tab, you can model the performance of a portfolio built from 3 world indicies. (FTSE100, S&P500, NIKKEI 225).</p>
    <p>You can simulate investing daily or monthly, with select weights for each index. The my portfolios tab will show your tested portfolios: If logged in, you will see your submissions. If not, you will see all recent submissions from non logged in users.</p>
    <p>This web app is a proof of concept, extended functionality and options will be added progessively.</p>
    </section>
</div>
{% endblock %}
    
